<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join!</title>
    <style>
        .messages {
            color: #963b3b;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <h1>Join my Website!</h1>
    <section class="messages"><%= message %></section>
    <form action="/join" method="post">
        email : <input type="text" name="email"><br>
        password : <input type="text" name="password"><br>
        <input type="submit">
    </form>
</body>
</html>