<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission 2</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            text-decoration: none;
        }
        #header h1 {
            text-align: center;
            padding: 20px;
            border-bottom: 1px dashed #2e2e2e;
        }

        body {
        background-image: #34495e;
        }

        .loginForm {
        position:absolute;
        width: 500px;
        height:400px;
        padding: 50px, 30px;
        background-color:#FFFFFF;
        text-align:center;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        border: 1px solid #000;
        }

        .loginForm h2{
        text-align: center;
        margin: 30px;
        }

        .idForm{
        border-bottom: 2px solid #adadad;
        margin: 30px;
        padding: 10px 10px;
        }

        .passForm{
        border-bottom: 2px solid #adadad;
        margin: 30px;
        padding: 10px 10px;
        }

        .id {
        width: 100%;
        border:none;
        outline:none;
        color: #636e72;
        font-size:16px;
        height:25px;
        background: none;
        }

        .pw {
        width: 100%;
        border:none;
        outline:none;
        color: #636e72;
        font-size:16px;
        height:25px;
        background: none;
        }

        .btn {
        margin: 50px auto;
        width:20%;
        height:40px;
        background: #34395e;
        background-position: left;
        background-size: 200%;
        color:white;
        font-weight: bold;
        border:none;
        border-radius: 10px;
        cursor:pointer;
        transition: 0.4s;
        display:block;
        }

        .btn:hover {
        background-position: right;
        }

        .bottomText {
        margin: 20px 30px 30px 30px;
        text-align: left;
        }
    </style>
</head>
<body>
    <!-- header -->
    <header id="header">
        <h1>중간 실습 과제 2 : 메인 페이지</h1>
    </header>
    <!-- //header -->

    <!-- main -->
    <main>
        <form action="/mission/login" type="get">
            <button class = "btn">로그인하기</button>
        </form>
        <form action="/mission/join" type="get">
            <button class = "btn">회원가입하기</button>
        </form>

    </main>
</body>
</html>